#!/usr/bin/make -f

%:
	dh $@

override_dh_prep:
	debian/downloader
	dch -b -v `./composer --version | awk '{print $$3}'` --package composer `curl -s https://api.github.com/repos/composer/composer/releases/latest | jq -r '.body'`
	dh_prep

override_dh_install:
	dh_install
