#!/usr/bin/make -f

%:
	dh $@

#override_dh_prep:
#	debian/downloader
#	dh_prep

override_dh_install:
	rm -rf tmp
	git clone --depth=1 -b `curl --silent "https://api.github.com/repos/composer/composer/tags" | jq -r '.[0].name'`  https://github.com/composer/composer.git tmp
	mkdir -p debian/composer/usr/share/php/
	mv tmp/src/Composer debian/composer/usr/share/php/
	rm -rf tmp
	mkdir -p debian/tmp
	wget https://github.com/composer/composer/releases/download/`curl --silent "https://api.github.com/repos/composer/composer/tags" | jq -r '.[0].name'`/composer.phar -O debian/tmp/composer
	chmod +x debian/tmp/composer
	dh_install
